{% extends "layout.html" %}
{% block content %}
{% if created %}
<div class="text">
    Gratulacje, udało się stworzyć wydarzenie!<br/>
{% if object_id %}
    <a href="/gospodarkaApp/object/{{object_id}}" class="button">Powrót  do obiektu.</a><br />
{% endif %}
</div>
{% else %}

<form id="event_form" method="post" action="/gospodarkaApp/add_event/{{object_id}}/"
        enctype="multipart/form-data" class="form">

    {% csrf_token %}
    {{ event_form.as_p }}

    <input type="submit" name="submit" value="Dodaj wydarzenie" />
</form>
{% endif %}
{% endblock content %}
