{% extends "layout.html" %}
{% block content %}
{% if created %}
<div class="text">
    Gratulacje, udało się stworzyć zamówienie!<br/>
{% if event_id %}
    <a href="/gospodarkaApp/event/{{event_id}}" class="button">Powrót do wydarzenia.</a><br />
{% endif %}
</div>
{% else %}
{% if too_much %}
<strong>Nie udało się utwórzyć zamówienia, 
    to wydarzenie nie posiada tylu wolnych biletów</strong>
{% endif %}
{% if too_little %}
<strong>Nie udało się utwórzyć zamówienia, 
    zamówiono mniej niż jeden bilet</strong>
{% endif %}

<form id="order_form" method="post" action="/gospodarkaApp/add_order/{{event_id}}/"
        enctype="multipart/form-data" class="form">

    {% csrf_token %}
    {{ order_form.as_p }}

    <input type="submit" name="submit" value="Zamów bilet" />
</form>
{% endif %}
{% endblock content %}
