<!DOCTYPE html>
<html>
    <head>
        <title>Dobre Wydarzenie</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>

{% load staticfiles %}
<link rel="stylesheet" href={% static "css\background.css" %}>

    <body>
        {% if created %}
        {% if object_id %}
        <a href="/gospodarkaApp/object/{{object_id}}">Powrót  do obiektu.</a><br />
        {% else %}
        <a href="/gospodarkaApp/objects">Powrót  do obiektów.</a><br />
        {% endif %}
        {% else %}

        <form id="object_form" method="post" action="/gospodarkaApp/add_object"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ object_form.as_p }}
            {{ address_form.as_p }}

            <input type="submit" name="submit" value="Dodaj obiekt" />
        </form>
        {% endif %}
    </body>
</html>