<!DOCTYPE html>
<html>
    <head>
        <title>Dobre Wydarzenie</title>
    </head>

    <body>
        {% if created %}
        {% if object_id %}
        <a href="/gospodarkaApp/object/{{object_id}}">Powrót  do obiektu.</a><br />
        {% else %}
        <a href="/gospodarkaApp/events">Wyświetl wydarzenia.</a><br />
        {% endif %}
        {% else %}

        <form id="event_form" method="post" action="/gospodarkaApp/add_event/{{object_id}}/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ event_form.as_p }}

            <input type="submit" name="submit" value="Dodaj wydarzenie" />
        </form>
        {% endif %}
    </body>
</html>