<!DOCTYPE html>
<html>
    <head>
        <title>Dobre Wydarzenie</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>

{% load staticfiles %}
<link rel="stylesheet" href={% static "css\background.css" %}>

    <body>
        {% if changed %}
            Dane został zedytowane z sukcesem
            <a href="/gospodarkaApp/">Powrót do strony głównej.</a><br />
        {% else %}

        <form id="usr_form" method="post" action="/gospodarkaApp/edit_profile/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ email_form.as_p }}
            {{ usr_form.as_p }}
            {{ address_form.as_p }}

            <input type="submit" name="submit" value="Edytuj konto" />
        </form>
        {% endif %}
    </body>
</html>