{% extends "layout.html" %}
{% block content %}
{% if event %}
<div class="text">
    Wydarzenie {{event.name}}<br />
    Gdzie:
    {{event.place.name}}<br />
    Adres:<br />
    ulica: {{event.place.address.street}}<br />
    numer: {{event.place.address.numb}}<br />
    kod pocztowy: {{event.place.address.postal_code}}<br />
    miasto:{{event.place.address.city}}<br />
    Ilość wolnych biletów: {{ticket_number}}<br />
    Cena biletu: {{event.ticket_price}}
</div>
{% if is_manager %}
<div class="button">
  <a href="/gospodarkaApp/edit_event/{{event.id}}">Edytuj wydarzenie</a><br />
</div>
<div class="button">
  <a href="/gospodarkaApp/remove_event/{{event.id}}">Usuń wydarzenie</a><br />
</div>
{% endif %}

{% if user.is_authenticated %}
<div class="button">
  <a href="/gospodarkaApp/add_order/{{event.id}}/">Zamów bilet</a><br />
</div>
{% endif %}

{% else %}
<strong class="text">Wystąpił błąd przy wyświetlaniu wydarzenia.
    W razie pytań proszę zgłosić się do administracji</strong>
{% endif %}
{% endblock content %}
