{% extends "layout.html" %}
{% block content %}
<input id="searchInput" value="Type To Filter">
<table id="keywords" border="1" style="width:100%">
    <thead>
        <tr>
            <th class="sortable">No</th>
            <th class="sortable">Nazwa</th>
            <th class="sortable">Miejsce</th>
            <th class="sortable">ilość dostępnych biletów</th>
            <th class="sortable">data</th>
            <th class="sortable">cena biletu</th>
        </tr>
    </thead>
    <tbody id="fbody">
      {% for event in events %}
        <tr>
            <td>{{event.id}}</td>
            <td><a href="/gospodarkaApp/event/{{event.id}}">{{event.name}}</a></td>
            <td>{{event.place.name}}</td>
            <td>{{event.max_tickets}}</td>
            <td>{{event.time}}</td>
            <td>{{event.ticket_price}}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock content %}
