<!DOCTYPE html>
<html>
  <head>
      <title>Dobre Wydarzenie</title>
  </head>

  <body>
    <section class="Login/Register">
      {% if user.is_authenticated %}
        <div class="Logout">
          <a href="logout">Log out</a><br />
        </div>
      {% else %}
        <div class="Login">
          <a href="login">Log in here</a><br />
        </div>
        <div class="Register">
          If not registered <a href="register">register here</a><br />
        </div>
      {% endif %}
      <br />
      <div class="Objects">
        <a href="objects">Obiekty</a><br />
      </div>
    </section>
  </body>
</html>