<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <title>Dobre Wydarzenie</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>

{% load staticfiles %}
<link rel="stylesheet" href={% static "css\background.css" %}>
<link rel="stylesheet" href={% static "css\button.css" %}>
<link rel="stylesheet" href={% static "css\tableStyle.css" %}>
<link rel="stylesheet" href={% static "css\contextMenu.css" %}>
<script src={% static "js\jquery-2.2.0.js" %} type="text/javascript"></script>
<script src={% static "js/sortElements.js" %} type="text/javascript"></script>
<script src={% static "js/Hello.js" %} type="text/javascript"></script>

  <body>
    <div align="center">
      <br/><a href="/gospodarkaApp" class="button"><strong>DobreWydarzenie.pl</strong></a><br/><br/>
    </div>
    <section class="container">
      <div class="columnLeft" align="left">
        {% if user.is_authenticated %}
          <div class="Edit">
            <a href="/gospodarkaApp/edit_profile" class="button full_size">Edytuj profil</a>
          </div>
          <div class="Logout">
            <a href="/gospodarkaApp/logout" class="button full_size">Wyloguj</a>
          </div>
        {% else %}
          <div class="Login">
            <a href="/gospodarkaApp/login" class="button full_size">Zaloguj się</a>
          </div>
          <div class="Register">
            <a href="/gospodarkaApp/register" class="button full_size">Zarejestruj się</a>
          </div>
        {% endif %}
        <br />
        <div class="Objects">
          <a href="/gospodarkaApp/objects" class="button full_size">Obiekty</a>
        </div>
        {% if is_manager %}
        <div class="Objects">
          <a href="/gospodarkaApp/user_objects" class="button full_size">Twoje obiekty</a>
        </div>
        {% endif %}
        <div class="Events">
          <a href="/gospodarkaApp/events" class="button full_size">Wydarzenia</a>
        </div>
        {% if user.is_authenticated %}
        <div class="Orders">
          <a href="/gospodarkaApp/orders" class="button full_size">Zamówione bilety</a>
        </div>
        {% if is_manager %}
        <div class="otherOrders">
          <a href="/gospodarkaApp/otherOrders" class="button full_size">Zamówienia na twoje wydarzenia</a>
        </div>
        {% endif %}
        {% endif %}
      </div>
      <div class="columnRight" align="center">
        {% block content %}{% endblock %}
      </div>
    </section>

  </body>
</html>
