<!DOCTYPE html>
<html>
    <head>
        <title>Dobre Wydarzenie</title>
    </head>

    <body>
        <h1>Obiekty</h1>

        {% if objects %}
            <ul>
                {% for object in objects %}
                <li><a href="/gospodarkaApp/object/{{object.id}}">{{object.name}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Aktualnie nie posiadamy żadnych obiektów</strong>
        {% endif %}
        {% if is_manager %}
            <div class="AddObject">
              <a href="/gospodarkaApp/add_object">Dodaj nowy obiekt</a><br />
            </div>
        {% endif %}
        <div class="Index">
          <a href="/gospodarkaApp">Powrot do indexu</a><br />
        </div>
    </body>
</html>
