{% extends "layout.html" %}
{% block content %}
{% if object %}
<div class="text">
    Obiekt {{object.name}}<br />
    Adres:<br />
    ulica: {{object.address.street}}<br />
    numer: {{object.address.numb}}<br />
    kod pocztowy: {{object.address.postal_code}}<br />
    miasto:{{object.address.city}}
</div>
{% if is_manager %}
<div class="button">
  <a href="/gospodarkaApp/edit_object/{{object.id}}">Edytuj obiekt</a><br />
</div>
<div class="button">
  <a href="/gospodarkaApp/add_event/{{object.id}}">Stwórz wydarzenie</a><br />
</div>
<div class="button">
  <a href="/gospodarkaApp/remove_object/{{object.id}}">Usuń obiekt</a><br />
</div>
{% endif %}

{% else %}
<strong class="text">Wystąpił błąd przy wyświetlaniu obiektu.
                W razie pytań proszę zgłosić się do administracji</strong>
{% endif %}
{% endblock content %}
