{% extends "layout.html" %}
{% block content %}
<input id="searchInput" value="Type To Filter">
<table id="keywords" border="1" style="width:100%">
    <thead>
        <tr>
            <th class="sortable">Nazwa</th>
            <th class="sortable">Miasto</th>
        </tr>
    </thead>
    <tbody id="fbody">
      {% for object in objects %}
        <tr>
            <td><a href="/gospodarkaApp/object/{{object.id}}">{{object.name}}</a></td>
            <td>{{object.address.city}}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock content %}
