<!DOCTYPE html>
<html>
    <head>
        <title>Dobre Wydarzenie</title>
    </head>

    <body>
        {% if object %}
            Obiekt {{object.name}}<br />
            Adres:<br />
            ulica: {{object.address.street}}<br />
            numer: {{object.address.numb}}<br />
            kod pocztowy: {{object.address.postal_code}}<br />
            miasto:{{object.address.city}}

        {% if is_manager %}
            <div class="Object">
              <a href="/gospodarkaApp/edit_object/{{object.id}}">Edytuj obiekt</a><br />
            </div>
            <div class="Event">
              <a href="/gospodarkaApp/add_event/{{object.id}}">Stwórz wydarzenie</a><br />
            </div>
            <div class="Object">
              <a href="/gospodarkaApp/remove_object/{{object.id}}">Usuń obiekt</a><br />
            </div>
        {% endif %}

        {% else %}
            <strong>Wystąpił błąd przy wyświetlaniu obiektu.
                W razie pytań proszę zgłosić się do administracji</strong>
        {% endif %}
        <div class="Object">
          <a href="/gospodarkaApp/objects">Powrot do obiektow</a><br />
        </div>
    </body>
</html>
