<!DOCTYPE html>
<html>
    <head>
        <title>Dobre Wydarzenie</title>
    </head>

    <body>
        <h1>Obiekty</h1>

        {% if objects %}
            <ul>
                {% for object in objects %}
                <li>{{object.address.city}}</li> 
                <li>{{object.address.street}}</li> 
                <li>{{object.address.numb}}</li> 
                <li>{{object.address.postal_code}}</li> 
                {% endfor %}
            </ul>
        {% else %}
            <strong>Aktualnie nie posiadamy żadnych obiektów</strong>
        {% endif %}
    </body>
</html>