{% extends "layout.html" %}
{% block content %}
<input id="searchInput" value="Type To Filter">
<table id="keywords" border="1" style="width:100%">
    <thead>
        <tr>
            <th class="sortable">Wydarzenie</th>
            <th class="sortable">Status</th>
        </tr>
    </thead>
    <tbody id="fbody">
      {% for order in orders %}
        <tr>
            <td>{{order.event.name}}</td>
            <td>{{order.status.value}}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock content %}
