{% extends "layout.html" %}
{% block content %}
<table border="1" style="width:100%">
    <thead>
        <tr>
            <th>Wydarzenie</th>
            <th>status</th>
            <th>ilość zamówień</th>
            <th>łączna cena zamówienia</th>
            <th>Zamawiający</th>
            <th>Opcje</th>
        </tr>
    </thead>
    <tbody id="fbody">
    {% for order in otherOrders %}
    <tr>
        <td>{{order.event.name}}</td>
        <td>{{order.status.value}}</td>
        <td>{{order.numb}}</td>
        <td>{{order.price}}</td>
        <td>{{order.ordered_by}}</td>
            <td>
                {% if order.status.value == 'CREATED' %}
                    <ul class="contextmenu">
                        <li>
                            <form id="otherOrderform" method="post" action="/gospodarkaApp/acceptOrder/{{order.id}}/"
                                enctype="multipart/form-data" class="form">
                                    {% csrf_token %}
                                <input type="submit" name="submit" value="Zatwierdz" />
                            </form>
                        </li>
                        <li>
                            <form id="otherOrderform" method="post" action="/gospodarkaApp/rejectOrder/{{order.id}}/"
                                enctype="multipart/form-data" class="form">
                                    {% csrf_token %}
                                <input type="submit" name="submit" value="Odrzuć" />
                            </form></li>
                    </ul>
                {% endif %}
            <td>

    </tr>
  {% endfor %}
    </tbody>
</table>
{% endblock content %}
