{% extends "layout.html" %}
{% block content %}
{% if registered %}
<strong>Rejestracja przebiegła pomyślnie! Proszę wejść w link przesłany w mailu aby zakonczyć rejestrację</strong>
{% else %}
<form id="user_form" method="post" action="register"
        enctype="multipart/form-data" class="form">

    {% csrf_token %}
    {{ user_form.as_p }}
    {{ usr_form.as_p }}
    {{ address_form.as_p }}

    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
{% endblock content %}
